<!DOCTYPE html>
<html>
<head>
  <title>HelloCodeActiveRecordUtils</title>
  <%= stylesheet_link_tag    "hello_code_active_record_utils/application", media: "all" %>
  <%= javascript_include_tag "hello_code_active_record_utils/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
